
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
}

img.round-img {
  border-radius: 6px;
}

.divider {
  border: 0;
  border-bottom: 1px solid #666;
  opacity: 0.6;
}

.pre-higlight {
  color: #FFFFFF;
  padding: 4px;
  font-weight: bold;
  background-color: #d50000;
}
